/* @import url('https://fonts.googleapis.com/css2?family=Monda&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Play',sans-serif;
}
body{
    background: #D5E9FF;
}

#header {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 99;
    color: #FFFFFF;
    padding:  0px 13px 0px 13px;
}

.btn-nosotros{
    text-decoration: none;
    background: #4dea0f;
    padding: 5px 10px 5px 10px;
    color: #050713;
    cursor: pointer;
    border-radius: 15px;
}

.btn-admin {
    /* background: #02A302; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 15px;
    color: #ffffff;
}

.btn-admin:hover{
    color: #4dea0f;
}

#registro{
    padding-top: 80px;
}

#principal{
    
}
.contenedor{
    background: #ffffff;
}

#formulario{
    background: #DFE0E2;
}

#login{
    height: 100vh;
}

/*---------------------------------------------------Estilos cards admin-----------------------------------------------------------*/
/* Vista por defecto (PC) */
.titles-container .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.d-lg-flex > div {
    flex: 1;
    text-align: center;
    padding: 5px;
}

.card .row .col {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10px;
}
.d-lg-flex {
    text-align: center; 
    flex: 1;
}

.row {
    grid-template-columns: repeat(7, 1fr);
    gap: 10px; 
    align-items: center;
}

.d-lg-flex > div {
    min-width: 150px;
    text-align: center;
}

/* Vista telefono */
@media (max-width: 425px) {
    .titles-container {
        display: none; 
    }

    .card .row {
        display: flex;
        flex-direction: column; 
        text-align: center; 
        padding: 10px;
        gap: 5px; 
    }

    .card .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px solid #ddd;
    }

    .card .col span:first-child {
        font-weight: bold;
    }

    .card .col:last-child {
        border-bottom: none;
    }

    .card .btn-ver-registros {
        color: blue;
    }
}